@model ExpenseManager_v2._0.Models.Expense.DetailedExpenseViewModel

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpensDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block">Edit</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <a asp-action="All" class="btn btn-secondary btn-block">Back to List</a>
    </div>
</div>