@model ExpenseManager_v2._0.Services.Expense.ExpenseDetailsServiceModel

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">Details</h1>


        <hr />
        <dt class="col-6 text-truncate">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-6 text-truncate">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-6 text-truncate">
            @Html.DisplayNameFor(model => model.ExpensDate)
        </dt>
        <dd class="col-6 text-truncate">
            @Html.DisplayFor(model => model.ExpensDate)
        </dd>
        <dt class="col-6 text-truncate">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-6 text-truncate">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-12 text-truncate">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-12 text-truncate">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-12 text-truncate">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class="col-12 text-truncate">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <a asp-action="Edit" asp-route-id="@Model.Id" style='margin-right:16px' class="btn btn-warning float-left mt-3">Edit</a>
        <a asp-action="All" style='margin-right:16px' class="btn btn-dark float-left mt-3">Back</a>
