@model ExpenseManager_v2._0.Services.Income.IncomeDetailsServiceModel

@{
    ViewBag.Title = "Details";
}

<div class="col-sm-12 offset-lg-2 col-ld-8 offset-ld-3 col-xl-6">
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @Html.DisplayNameFor(model => model.Name):
            <span>@Html.DisplayFor(model => model.Name)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @Html.DisplayNameFor(model => model.IncomeDate):
            <span>@Html.DisplayFor(model => model.IncomeDate)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @Html.DisplayNameFor(model => model.Amount):
            <span>@Html.DisplayFor(model => model.Amount)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between text-left">
            @Html.DisplayNameFor(model => model.Notes):
            <span style="word-wrap:break-word">@Html.DisplayFor(model => model.Notes)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @Html.DisplayNameFor(model => model.Categorie):
            <span>@Html.DisplayFor(model => model.Categorie)</span>
        </li>
    </ul>
    <a asp-action="Edit" asp-route-id="@Model.Id" style='margin-right:16px' class="btn btn-warning float-left mt-3">Edit</a>
    <a asp-action="All" style='margin-right:16px' class="btn btn-dark float-left mt-3">Back</a>
</div> 